bin/Debug/net9.0/CommunityToolkit.HighPerformance.dll
bin/Debug/net9.0/ConcurrentCollections.dll
bin/Debug/net9.0/config/
bin/Debug/net9.0/DSharpPlus.Commands.dll
bin/Debug/net9.0/DSharpPlus.dll
bin/Debug/net9.0/DSharpPlus.Interactivity.dll
bin/Debug/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/net9.0/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
bin/Debug/net9.0/Microsoft.Extensions.Options.dll
bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net9.0/NetEscapades.EnumGenerators.Attributes.dll
bin/Debug/net9.0/Newtonsoft.Json.dll
bin/Debug/net9.0/Npgsql.dll
bin/Debug/net9.0/Polly.Core.dll
bin/Debug/net9.0/Raffinert.FuzzySharp.dll
bin/Debug/net9.0/SophBot
bin/Debug/net9.0/SophBot.deps.json
bin/Debug/net9.0/SophBot.dll
bin/Debug/net9.0/SophBot.pdb
bin/Debug/net9.0/SophBot.runtimeconfig.json
bin/Debug/net9.0/Ulid.dll
obj/project.assets.json
obj/project.nuget.cache
obj/SophBot.csproj.nuget.dgspec.json
obj/SophBot.csproj.nuget.g.props
obj/SophBot.csproj.nuget.g.targets
obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
obj/Debug/net9.0/apphost
obj/Debug/net9.0/SophBot.AssemblyInfo.cs
obj/Debug/net9.0/SophBot.AssemblyInfoInputs.cache
obj/Debug/net9.0/SophBot.assets.cache
obj/Debug/net9.0/SophBot.csproj.AssemblyReference.cache
obj/Debug/net9.0/SophBot.csproj.CoreCompileInputs.cache
obj/Debug/net9.0/SophBot.csproj.FileListAbsolute.txt
obj/Debug/net9.0/SophBot.csproj.Up2Date
obj/Debug/net9.0/SophBot.dll
obj/Debug/net9.0/SophBot.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/SophBot.genruntimeconfig.cache
obj/Debug/net9.0/SophBot.GlobalUsings.g.cs
obj/Debug/net9.0/SophBot.pdb
obj/Debug/net9.0/ref/SophBot.dll
obj/Debug/net9.0/refint/SophBot.dll
